<ion-view view-title="Capture">
  <ion-content>
    <ion-item>
      <h3>Camera plugin</h3>
      <button class="button button-full button-assertive" ng-click="takePhoto()">
      Take Photo
      </button>
      <button class="button button-full button-assertive" ng-click="choosePhoto()">
      Choose Photo
      </button>
      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
    </ion-item>
    <ion-item>
      <h3>Capture plugin</h3>
      <h3>Capture Video Demo</h3>
      <button id="takeVideo" ng-click="video()">Take Video</button>
        <div id="videoArea"></div>
    </ion-item>
    <ion-item>
      <h3>Capture Image Demo</h3>
      <button id="takeImage" ng-click="image()">Take Image</button>
        <div id="imageArea"></div>
    </ion-item>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
